.headerImage img {
    width: 100%;
}

figure.headerImage {
    position: relative;
    text-align: center;
    width: 100%;
}

.intro {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.intro h1 {
    font-size: 6rem;
    color: #ffffff;
    text-shadow: 0rem 0rem 1rem #000000;
}

.intro h2 {
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 0rem 0rem 0.5rem #000000;
}

figure.topSplit {
    position: absolute;
    text-align: center;
    top: 41rem;
    z-index: 4;
}

figure.triangle {
    position: absolute;
    width: 100%;
    top: 55rem;
    z-index: 3;
}

figure.split2 {
    display: flex;
    justify-content: center;
    background-color: #fff3de;
}

.split2 img {
    z-index: 5;
}