nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    padding: 1.5rem 1rem 0rem 1rem;
    z-index: 1000;
}

nav figure {
    position: relative;
    text-align: center;
    width: 33rem;
}

.navigation {
    font-size: 2rem;
}

.navigation a {
    padding: 2rem;
}

.navigation.nav1 {
    position: absolute;
    top: 20%;
    left: 42%;
    transform: translate(-50%, 50%);
}

.navigation.nav2 {
    position: absolute;
    top: 20%;
    left: 57%;
    transform: translate(-50%, 50%);
}